<h1 class="mt-4">To-Do List</h1>
<div class="card p-4">
  <form action="/todo/add" method="post" class="mb-3">
    <label class="form-label">Insert a new task</label>
    <input type="text" class="form-control" name="taskName" required>
    <button type="submit" class="btn btn-primary mt-2">Save</button>
  </form>
</div>
<table class="table table-bordered mt-3">
  <thead class="thead-light">
    <tr>
      <th>#</th>
      <th>Task Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% tasks.forEach((task, index)=> { %>
      <tr>
        <td>
          <%= index + 1 %>
        </td>
        <td>
          <%= task %>
        </td>
        <td>
          <form action="/todo/done/<%= index %>" method="post" class="d-inline">
            <button type="submit" class="btn btn-success btn-sm">✔ Done</button>
          </form>
        </td>
      </tr>
      <% }) %>
  </tbody>
</table>